{% extends 'blog/base.html' %}
    {% block content %}
    <div class="name">{{ post }}</div>
    <br>
    <div class="title">Документы</div>
    <div class="row">
        {% for document in documents %}
            {% if post == document.owner and document.get_section_display == 'Документы'%}
                <div class="blok" id="{{ document.id }}" onclick="blok_open(this.id)">
                    <div class="name">
                        {{ document.name }}
                    </div>
                    <div class="content" id="content{{document.id}}">
                        <!-- <div class="section">
                            {{ document.fileName.get_section_display }}
                        </div> -->
                        {% if document.reading %}
                            Чтение
                        {% endif %}
                        {% if document.adding %}
                            Добавление
                        {% endif %}
                        {% if document.change %}
                            Изменение
                        {% endif %}
                        {% if document.delete %}
                            Удаление
                        {% endif %}
                        {% if document.lead %}
                            Изменение
                        {% endif %}
                        {% if document.unlead %}
                            Изменение
                        {% endif %}
                        {% if document.watch %}
                            Просмотр
                        {% endif %}
                        {% if document.edit %}
                            Изменение
                        {% endif %}
                        {% if document.lead_redact %}
                            Изменение
                        {% endif %}
                        {% if document.check_delete %}
                            Изменение
                        {% endif %}
                        {% if document.uncheck_delete %}
                            Изменение
                        {% endif %}
                        {% if document.edit %}
                            Редактирование
                        {% endif %}
                        <br>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}