{% extends 'blog/base.html' %}
    {% block content %}
        {% if user.is_authenticated %}
            {% if post %}
            <div class="list"> 
                <div class="item">
                   <div class="title">
                        Сотрудник:
                   </div>
                    {{ post.surname }} {{ post.name }}</div>
                    <div class="info">
                            {% if post.company == 'pd' %}
                                001.
                                {% elif post.company == 'ar' %}
                                    002.
                                    {% elif post.company == 'bt' %}
                                        003.
                                        {% elif post.company == 'ts' %}
                                            004.
                                            {% elif post.company == 'ki' %}
                                                005.
                                                {% elif post.company == 'co' %}
                                                    co.
                                                    {% else %}
                                                        un.
                            {% endif %}
                            {{ post.job }}.
                            {{ post.workerID }}
                    </div>
                <div class="item">
                    <div class="title">Laptops</div>
                    {% for notebook in notebooks %}
                        {% if notebook.owner == post %}
                            {{ notebook }} {{ notebook.get_company_display  }} <br>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="item">
                    <div class="title">Displays</div>
                    {% for display in displays %}
                        {% if display.owner == post %}
                            {{ display }} {{ display.company }} <br>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="item">
                    <div class="title">Computers</div>
                    {% for computer in computers %}
                        {% if computer.owner == post %}
                            {{ computer }} {{ computer.company }} <br>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="item">
                    <div class="title">Printers</div>
                    {% for printer in printers %}
                        {% if printer.owner == post %}
                            {{ printer }} {{ printer.company }} <br>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="item">
                    <div class="title">Shredder</div>
                    {% for shredder in shredders %}
                        {% if shredder.owner == post %}
                            {{ shredder }}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="item">
                    <div class="title">Television</div>
                    {% for television in televisions %}
                        {% if television.owner == post %}
                            {{ television }}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="item">
                    <div class="title">Condition</div>
                    {% for condition in conditions %}
                        {% if condition.owner == post %}
                            {{ condition }} {{ condition.company }} <br>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="item">
                    <div class="title">Telephones</div>
                    {% for telephone in telephones %}
                        {% if telephone.owner == post %}
                            {{ telephone }}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="item">
                    <div class="title">Cameras</div>
                    {% for camera in cameras %}
                        {% if camera.owner == post %}
                            {{ camera }}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="item">
                    <div class="title">Dispensers</div>
                    {% for dispenser in dispensers %}
                        {% if dispenser.owner == post %}
                            {{ dispenser }}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="item">
                    <div class="title">Micro Waves</div>
                    {% for microwave in microwaves %}
                        {% if microwave.owner == post %}
                            {{ microwave }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>


            {% endif %}
        {% else %}
            <a href="/accounts/login/">Login</a>
        {% endif %}
    {% endblock %}