{% extends 'blog/base.html' %}

{% block content %}

    <!-- <div class="headers">
        <div>name</div>
        <div>surname</div>
    </div> -->

    {% if user.is_authenticated %}

        <input type="text" id="input" >
        <button class="btn" onclick="check()">Check</button>

        <button class="btn" onclick="fullList()">Full list</button>
        <br>

        {% if worker_count %}
             Cотрудники <b> {{ worker_count }} </b>
        {% endif %}<br>
        {% if laptop_count %}
            Ноутбуки  <b> {{ laptop_count }} </b>
        {% endif %}
        <div class="row">
            {% for post in posts %}
            <div class="col-md-4 post list"  id="{% if post.company == 'pd' %}001{% elif post.company == 'ar' %}002{% elif post.company == 'bt' %}003{% elif post.company == 'ts' %}004{% elif post.company == 'ki' %}005{% elif post.company == 'co' %}co{% else %}un{% endif %}{{ post.job }}{{ post.workerID }}">
                <a href="{% url 'post_detail' pk=post.pk %}">
                    {{ post.name }}
                    {{ post.surname }}
                    <b>
                        {{ post.get_job_display }}
                    </b>
                        <div class="info">
                                {% if post.company == 'pd' %}
                                    001.
                                    {% elif post.company == 'ar' %}
                                        002.
                                        {% elif post.company == 'bt' %}
                                            003.
                                            {% elif post.company == 'ts' %}
                                                004.
                                                {% elif post.company == 'ki' %}
                                                    005.
                                                    {% elif post.company == 'co' %}
                                                        co.
                                                        {% else %}
                                                            un.
                                {% endif %}
                                {{ post.job }}.
                                {{ post.workerID }}
                        </div>
                    {% if post.laptop.inventNumber == '?????' %}
                        <div class="red">
                            Нет инвентарьного номера
                        </div>
                    {% endif %}
                </a>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <a href="/accounts/login/">Login</a>
    {% endif %}
{% endblock %}