{% extends 'blog/base.html' %}

{% block content %}

    <!-- <div class="headers">
        <div>name</div>
        <div>surname</div>
    </div> -->
    {% if user.is_authenticated %}
        <div class="row">
            {% for post in posts %}
            <div class="col-md-4 post"  id="{% if post.company == 'pd' %}001.{% elif post.company == 'ar' %}002.{% elif post.company == 'bt' %}003.{% elif post.company == 'ts' %}004.{% elif post.company == 'ki' %}005.{% elif post.company == 'co' %}006.{% else %}un.{% endif %}{{ post.job }}.{{ post.workerID }}.{{ post.laptop.inventNumber }}">
                <a href="{% url 'post_detail' pk=post.pk %}">
                    {{ post.name }}
                    {{ post.surname }}
                    <b>
                        {{ post.get_job_display }}
                    </b>
                        <div>asdasasd</div>
                        <div class="info">
                                {% if post.company == 'pd' %}
                                    001.
                                    {% elif post.company == 'ar' %}
                                        002.
                                        {% elif post.company == 'bt' %}
                                            003.
                                            {% elif post.company == 'ts' %}
                                                004.
                                                {% elif post.company == 'ki' %}
                                                    005.
                                                    {% elif post.company == 'co' %}
                                                        006.
                                                        {% else %}
                                                            un.
                                {% endif %}
                                {{ post.job }}.
                                {{ post.workerID }}.
                                {{ post.laptop.inventNumber }}
                                {{ post.id }}
                        </div>
                    {% if post.laptop.inventNumber == '?????' %}
                        <div class="red">
                            Нет инвентарьного номера
                        </div>
                    {% endif %}
                </a>
            </div>
            {% endfor %}
        </div>

    <a href="/">List</a>
    {% else %}
    <a href="/accounts/login/">Login</a>
    {% endif %}
{% endblock %}