{% extends 'blog/base.html' %}
    {% block content %}
        <div class="row">
            {% for toner in toners %}
                <div class="col-md-4">
                    Тонер: {{ toner }} {{ toner.pk }} <br>
                    Осталось <strong> {{ toner.remained_loads }}</strong> заправок <br>
                    <!-- Used <strong> {{ toner.used_loads }}</strong> заправок <br> -->
                    Заправлено всего <strong> {{ toner.overall }}</strong> <br>
                    <a href="{% url 'toner_edit' pk=toner.pk %}">Использовать</a>
                </div>
            {% endfor %}
        </div>
    {% endblock %}