{% extends 'blog/base.html' %}

{% block content %}

    <!-- <div class="headers">
        <div>name</div>
        <div>surname</div>
    </div> -->

    {% if user.is_authenticated %}
        <div class="item_new">
            <div class="post_new">
                <h1>Новая Техника</h1>
                <form method="POST" class="post-form">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-default">Отправить</button>
                </form>
            </div>
        </div>
    {% endif %}

{% endblock %}