{% extends 'blog/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="zapros_main">
            <div class="choices">
                <button class="btn btn-primary" id='1' onclick="zapros_choice(this.id)">Текущие</button>
                <button class="btn btn-primary" id='2' onclick="zapros_choice(this.id)">Законченные</button>
            </div>
            <div class="zapros_list" id="asd">
                <h1>Текущие</h1>
                <div class="row">
                    <div class="col-md-3 title">Имя</div>
                    <div class="col-md-8 title">Проблема</div>
                </div>
                {% for zapros in zaprosy %}
                    <div class="row zapros">
                        <div class="col-md-3">{{ zapros }}</div>
                        <div class="col-md-7">{{ zapros.problem }}</div>
                        <div class="col-md-2"><a href="{% url 'zapros_delete' zapros.pk %}" class="btn btn-warning" role="button">Сделано</a></div>
                        <br> 
                    </div>
                {% endfor %}
            </div>

            <div class="finished">
                <h1>Законченные</h1>
                <div class="row">
                    <div class="col-md-3 title">Имя</div>
                    <div class="col-md-8 title">Проблема</div>
                </div>
                {% for finished in finisheds %}

                    <div class="row zapros">
                        <div class="col-md-3">{{ finished.name }}</div>
                        <div class="col-md-7">{{ finished.problem }}</div>
                        <br> 
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

<script>
    //setNone(document.getElementsByClassName('zapros_list'))


</script>
    {% endblock %}

